@model FutbolSys.Domain.Tournament

@{
    ViewBag.Title = "Detalles del Torneo " + Model.Name;
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @if (!string.IsNullOrEmpty(Model.Logo))
            {
                <img src="@Url.Content(Model.Logo)" alt="Logo" style="width:100px;height:100px;max-width:100%; height:100%" />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Order)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Order)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Torneo", "Edit", new { id = Model.TournamentId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Crear Grupo", "CreateGroup", new { id = Model.TournamentId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Crear Fecha", "CreateDate", new { id = Model.TournamentId }, new { @class = "btn btn-success" })
    @Html.ActionLink("Cancelar", "Index", new { }, new { @class = "btn btn-danger" })
</p>

<hr />



<div class="row">
    <div class="col-md-6">
        <h4>Grupos</h4>
        @if (Model.TournamentGroups.Count == 0)
        {
            <h5>No tiene grupos registrados todavía</h5>
        }
        else
        {
            <table class="table table-condensed table-hover table-striped" id="groupsTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.TournamentGroups.FirstOrDefault().Name)
                        </th>
                        <th>
                            # Equipos
                        </th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TournamentGroups.OrderBy(g => g.Name))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TournamentTeams.Count)
                            </td>
                            <td>
                                @Html.ActionLink("Editar", "EditGroup", new { id = item.TournamentGroupId }, new { @class = "btn btn-warning" })
                                @Html.ActionLink("Detalles", "DetailsGroup", new { id = item.TournamentGroupId }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Eliminar", "DeleteGroup", new { id = item.TournamentGroupId }, new { @class = "btn btn-danger", onclick = "return confirm('Está seguro(a) de eliminar este registro')" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    <div class="col-md-6">
        <h4>Fechas</h4>
        @if (Model.Dates.Count == 0)
        {
            <h5>No tiene fechas registradas todavía</h5>
        }
        else
        {
            <table class="table table-condensed table-hover table-striped" id="datesTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Dates.FirstOrDefault().Name)
                        </th>
                        <th>
                            # Partidos
                        </th>
                        <th align="center">Opciones</th>
                    </tr>
                </thead>
                
                <tbody>
                    @foreach (var item in Model.Dates.OrderBy(d => d.Name))
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Matches.Count)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "EditDate", new { id = item.DateId }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Detalles", "DetailsDate", new { id = item.DateId }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Eliminar", "DeleteDate", new { id = item.DateId }, new { @class = "btn btn-danger", onclick = "return confirm('Está seguro(a) de eliminar este registro')" })
                        </td>
                    </tr>
                    }
                </tbody>
                

            </table>
        }
    </div>
</div>

@section Scripts{

    <script src="~/Content/DataTable/datatables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#groupsTable').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#datesTable').DataTable({
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "sInfoThousands": ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Último",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
        });
    </script>
}